<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= note.content %>
  </p>

  <p>
    <strong>Created at:</strong>
     <%= note.created_at.strftime("%Y-%m-%d") %>
  </p>

</div>
